{% extends 'base.html' %}

{% block title %}
Admin Login
{% endblock %}

{% block page_content %}
<div class="row w-100" style="height: 100vh;">
    <div class="col"></div>
    <div class="col-12">
        <div class="row justigy-content-center align-items-center mb-3">
            <div class="col"></div>
            <div class="col-4 text-center">
                <h1>Login to admin panel</h1>
            </div>
            <div class="col"></div>
        </div>
        <form action="" method="POST">
            {{ form.csrf_token }}
            <div class="row justigy-content-center align-items-center">
                <div class="col"></div>
                <div class="col-4">
                    <div class="form-floating mb-3 w-100">
                        {{ form.username(class_="form-control", placeholder="admin") }}
                        {{ form.username.label }}
                    </div>
                </div>
                <div class="col"></div>
            </div>
            <div class="row justigy-content-center align-items-center">
                <div class="col"></div>
                <div class="col-4">
                    <div class="form-floating mb-3 w-100">
                        {{ form.password(class_="form-control", placeholder="admin") }}
                        {{ form.password.label }}
                    </div>
                </div>
                <div class="col"></div>
            </div>
            {% if form.errors %}
                {% for error in form.errors.values() %}
                    <div class="row text-center">
                            <div class="col">{{ error }}</div>
                        </div>
                {% endfor %}
            {% endif %}
            <div class="row">
                <div class="col"></div>
                <div class="col-2"><button type="submit" class="btn btn-dark btn-lg w-100">Submit</button></div>
                <div class="col"></div>
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>
{% endblock %}
